body {
  font-family: 'Filicudi Solid', sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
  margin: 0;
}

header {
  background-color: #fbb03b;
  text-align: center;
  padding: 50px 20px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  margin-top: 40px;
}

section {
  padding: 20px;
}

button {
  background-color: #1a1a1a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #333333;
}

footer {
  text-align: center;
  padding: 20px;
}